*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
header{
    width: 10000px;
    height: 60px;
    background-color: #16A085;
}

section{
    width: 1000px;
    height: 450px;
    margin: 50px auto;
    background-color: #DAF7A6;
}

footer{
    width: 10000px;
    height: 50px;
    background-color: #16A085;
}
.imagen1{
    width: 400px;
    height: 200px;
}
.imagen2{
    width: 500px;
    height: 300px;
}
.imagen3{
    width: 400px;
    height: 200px;
}